$header-footer-bg: #6b6b6b;
$text-color-1: #000000;
$text-color-2: #111111;
$text-color-3: #333333;
$light-bg: #ebebeb;
$white-color: #fff;
$img-section-bg:#D3D3D3;
//FONTS
$main-font-family: "Roboto", "Arial", sans-serif;
