.hero {
  padding: 6.7rem 0 7.4rem 0;
  background-color: $light-bg;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero__wrapper {
  width: 100%;
  max-width: 576px;
  align-items: center;
  &__title {
    font-family: $main-font-family;
    font-weight: 400;
    font-size: 3.9rem;
    line-height: 1.5;
  }
  &__text {
    font-family: $main-font-family;
    font-weight: 400;
    font-style: 1.8rem;
    line-height: 1.4;
    padding-bottom: 3rem;
  }
  &__link {
    background-color: $white-color;
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
    color: $text-color-1;
  }
}

.hero__wrapper2 {
  width: 100%;
  max-width: 576px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 128px;
  padding-left: 128px;
  text-align: center;
  &__desc {
    padding-top: 2.3rem;
    font-size: 13px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
  }
}

// IMAGE SECTION
.image {
  padding: 5.2rem 15.4rem;
  background-color: $img-section-bg;
  &__container {
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item:not(:last-child) {
    margin-right: 6.7rem;
  }
}

// servis section
.servis {
  background-color: $white-color;
  padding-top: 5rem;
  padding-bottom: 7.6rem;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.servis__wrapper {
  &__title {
    align-items: center;
    width: 576px;
    font-weight: 400;
    font-size: 32px;
    line-height: 3.6rem;
    color: $text-color-1;
    padding-bottom: 1.4rem;
  }
  &__desc {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

.servis__wrapper2 {
  width: 576px;
  padding: 0 16.8rem 5.1rem;
  &__desc {
    padding-top: 2rem;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #777777;
  }
}
.flex__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.servis__wrapper3 {
  width: 576px;
  padding: 1.5rem 13.6rem 2.6rem;
  &__img {
    margin-left: 2.6rem;
  }
  &__desc {
    width: 324px;
    font-size: 12px;
    line-height: 21px;
    color: #777777;
    padding-top: 2rem;
  }
}
.servis__wrapper4 {
  &__title {
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    padding-bottom: 1.4rem;
  }
  &__desc {
    width: 520px;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}
.servis__color {
  border-radius: 5px;
  padding: 2px 7px;
  background-color: #3b79c3;
  color: $white-color;
}

// layout
.layout {
  background-color: $light-bg;
  padding: 8.9rem 14.4rem 8rem;
  &__container {
    align-items: center;
    justify-content: center;
  }
}
.layout__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    padding-bottom: 1.1rem;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    color: $text-color-3;
  }
  &__desc {
    padding-bottom: 4rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    outline-color: $text-color-3;
  }
  &__text {
    padding-top: 2rem;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #777777;
  }
  &__text2 {
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #777777;
  }
}

.step {
  &__list {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  &__item:not(:last-child) {
    margin-right: 3rem;
  }
  &__item {
    width: 364px;
    padding: 3rem 6.9rem;
    background-color: $white-color;
    border-radius: 5px;
    text-align: center;
  }
}
.step {
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 3.1rem;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  &__img {
    padding-bottom: 4rem;
  }
  &__color {
    padding: 1px 3px;
    border-radius: 2px;
    background-color: #3b79c3;
    color: $white-color;
  }
}

.tips {
  padding: 9.9rem 8.9rem;
  background-color: $white-color;
  &__container {
    align-items: center;
    justify-content: center;
  }
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 5.6rem;
  }
  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 4.1rem;
  }
  &__heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-top: 3rem;
    padding-bottom: 1.3rem;
  }
  &__desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
}
